@use "../../assets/scss/__colors.scss" as *;
@use "../../assets/scss/__layout.scss" as *;

.slideshow {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: $base-width;

    .length {
        color: $white;
        position: relative;
        top: -220px;
    }

    .pictures {
        height: $height-four-five-five;
        width: $base-width;
        object-fit: cover;
        border-radius: $border-thirty;
    }

    .previousPictures {
        height: $height-eighty;
        position: relative;
        top: -280px;
        left: -680px;
        cursor: pointer;
    }

    .nextPictures {
        height: $height-eighty;
        position: relative;
        top: -370px;
        right: -680px;
        cursor: pointer;
    }

}

@media screen and (max-width: 768px) {

    .slideshow {
        width: $width-ninety-five;
        margin-left: $margin-ten;

        .length {
            color: $white;
            position: relative;
            top: -150px;
        }


        .pictures {
            height: $height-two-ninety !important;
            object-fit: cover;
            border-radius: $border-thirty;
        }

        .previousPictures {
            height: $height-forty;
            top: -160px;
            left: -160px;
        }

        .nextPictures {
            height: $height-forty;
            top: -200px;
            right: -160px;
        }
    }
}