@use "../../assets/scss/__colors.scss" as *;

.slidesshow {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;

    .length {
        color: $white;
        position: relative;
        top: -220px;
    }

    .pictures {
        height: 400px;
        width: 100%;
        object-fit: cover;
        border-radius: 30px;
    }

    .previousPictures {
        height: 80px;
        position: relative;
        z-index: 1;
        top: -250px;
        left: -680px;
        cursor: pointer;
    }

    .nextPictures {
        height: 80px;
        position: relative;
        top: -330px;
        right: -680px;
        cursor: pointer;
    }

}