@use "../../assets/scss/__colors.scss" as *;

.slideshow {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;

    .length {
        color: $white;
        position: relative;
        top: -220px;
    }

    .pictures {
        height: 455px;
        width: 100%;
        object-fit: cover;
        border-radius: 30px;
    }

    .previousPictures {
        height: 80px;
        position: relative;
        top: -280px;
        left: -680px;
        cursor: pointer;
    }

    .nextPictures {
        height: 80px;
        position: relative;
        top: -370px;
        right: -680px;
        cursor: pointer;
    }

}

@media screen and (max-width: 768px) {

    .slideshow {
        width: 95%;
        margin-left: 10px;

        .length {
            color: $white;
            position: relative;
            top: -150px;
        }
    

        .pictures {
            height: 290px !important;
            object-fit: cover;
            border-radius: 30px;
        }

        .previousPictures {
            height: 40px;
            top: -160px;
            left: -160px;
        }

        .nextPictures {
            height: 40px;
            top: -200px;
            right: -160px;
        }
    }
}