@use "../../assets/scss/__colors.scss" as *;

.rating {
  display: flex;
  gap: 10px;
  font-size: 20px;
  margin-top: 30px;
}

.colored-star {
  color: $main-color;
}

.empty-star {
  opacity: 0.1;
}

@media (max-width: 768px) {
  .rating {
    font-size: 12px;
    margin-top: 20px;
  }
}