@use "../../assets/scss/__colors.scss" as *;
@use "../../assets/scss/__layout.scss" as *;


.rating {
  display: flex;
  gap: $gap-ten;
  font-size: $font-twenty;
  margin-top: $margin-thirty;
}

.colored-star {
  color: $main-color;
}

.empty-star {
  opacity: 0.1;
}

@media (max-width: 768px) {
  .rating {
    font-size: $font-twelve;
    margin-top: $margin-twenty;
  }
}