//width
$base-width : 100%;
$width-seventy : 70%;
$width-ninety : 90%;
$width-ninety-two : 92%;
$width-ninety-five : 95%;

//height 
$base-height : 100%;
$height-forty: 40px;
$height-sixty: 60px;
$height-eighty: 80px;
$height-one-seven-zero : 170px;
$height-one-hundred : 100px;
$height-two-ninety: 290px;
$height-three-five-zero: 350px;
$height-four-five-five: 455px;

//margin
$margin-zero : 0px;
$margin-five : 5px;
$margin-ten: 10px;
$margin-fifteen: 15px;
$margin-twenty: 20px;
$margin-thirty: 30px;
$margin-forty: 40px;
$margin-fifty : 50px;
$margin-one-twenty: 120px;
$margin-one-eighty: 180px;

//padding
$padding-five : 5px;
$padding-ten : 10px;
$padding-fifteen : 15px;
$padding-twenty : 20px;

//gap 
$gap-ten: 10px;
$gap-eleven: 11px;
$gap-thirty : 30px;
$gap-fifty : 50px;
$gap-hundred: 100px;

//background
$background-twenty : 20px;

//border 
$border-five: 5px;
$border-six : 6px;
$border-ten: 10px;
$border-fifteen: 15px;
$border-twenty: 20px;
$border-thirty: 30px;

//flex 
$flex-one : 1;

//font
$font-twelve : 12px;
$font-forteen: 14px;
$font-eighteen: 18px;
$font-twenty : 20px;
$font-twelve-five : 25px;
$font-thirty: 30px;
$font-forty : 40px;
$font-forty-five: 45px;
$font-eighty: 80px;
$font-one-five-zero: 150px;
$font-two-hundred: 200px;