@use "../../assets/scss/__colors.scss" as *; 

.tags{
    display: flex;
    gap: 10px;
    margin-top: -10px;
    
    p{
        background-color: $main-color;
        color: white;
        border-radius: 15px;
        padding: 5px 15px;
        font-size: 14px;
        gap: 10px;
    }
}


@media screen and (max-width: 768px) {
    .tags{
        p{
            font-size: 11px;
        }
    }
}