@use "../../assets/scss/__colors.scss" as *; 
@use "../../assets/scss/__layout.scss" as *; 

.tags{
    display: flex;
    gap: $gap-ten;
    margin-top: -$gap-ten;
    
    p{
        background-color: $main-color;
        color: $white;
        border-radius: $border-fifteen;
        padding: $padding-five $padding-fifteen;
        font-size: $font-forteen;
        gap: $gap-ten;
    }
}


@media screen and (max-width: 768px) {
    .tags{
        p{
            font-size: $gap-eleven;
        }
    }
}