@use "../../assets/scss/__colors.scss" as *;
@use "../../assets/scss/__layout.scss" as *;


.accomodation-info {
  display: flex;
  flex-direction: row;
  margin-top: -$margin-one-eighty;
  justify-content: space-between;
  align-items: flex-start;
}

.title-location {
  display: flex;
  flex-direction: column;
}

.title {
  p {
    color: $main-color;
    font-size: $font-thirty;
    margin: 0;
    padding: 0;
  }
}

.location {
  p {
    color: $black;

  }
}

@media screen and (max-width: 768px) {
  .accomodation-info {
    display: flex;
    flex-direction: column;
    margin-top: -$margin-one-twenty;
    margin-left: $margin-fifteen;
    margin-right: $margin-twenty;

    .right {
      width: $base-width;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  .title {
    p {
      font-size: $font-twenty;
    }
  }
}