@use "../../assets/scss/__colors.scss" as *;
@use "../../assets/scss/__layout.scss" as *;

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: $gap-hundred;

    p {
        color: $main-color;
        margin: $margin-zero;
    }

    .error-number {
        margin-top: $margin-fifty !important;
        font-size: $font-two-hundred;
        font-weight: 900;
    }

    .error-title {
        font-size: $font-thirty;
        font-weight: bold;
    }

    a {
        color: $black;
    }

}


@media screen and (max-width: 768px) {
    .error{
        .error-number {
            font-size: $font-one-five-zero;
        }
    
        .error-title {
            font-size: $font-twenty;
            font-weight: bold;
            margin-left: $font-eighty;
        }
    }
}