@use "../../assets/scss/__colors.scss" as *; 

.cards{
    background-color: $light-grey;
    margin-top: 2%;
    display: flex;
    position: relative;
    border-radius: 30px;
    width: 100%;
    height: 500px;
    display: flex;
}