@use "../../assets/scss/__colors.scss" as *;
@use "../../assets/scss/__layout.scss" as *;

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap-fifty;
    padding: 3rem;
    background-color: $light-grey;
    margin-top: 2%;
    border-radius: $border-twenty;
}

.card {
    border-radius: $border-ten;
    color: $light-grey;
    width: $base-width;
    height: $height-three-five-zero;

    img {
        width: $base-width;
        height: $base-height;
        object-fit: cover;
        border-radius: $border-six;
    }

    p {
        margin-top: -$margin-forty;
        padding-left: $padding-ten;
        font-weight: bold;
        font-size: 14.4px;
    }
}

@media screen and (max-width: 768px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1rem;
    }
  }