@use "../../assets/scss/__colors.scss" as *;

.about {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 70%;
    gap: 30px;

    details {
        border-radius: 20px;

        summary {
            background-color: $main-color;
            color: white;
            padding: 15px 20px;
            font-weight: bold;
            cursor: pointer;
            list-style: none;
            position: relative;
            background-image: url('../../assets/angle_up.svg');
            background-repeat: no-repeat;
            background-position: right 20px center;
            background-size: 20px;
        }

        p {
            color: black;
            padding: 15px 20px;
        }
       

    }
}


details[open] summary {
    background-image: url('../../assets/angle_down.svg');
}

.accomodation-collapse {
   
  }
