@use "../../assets/scss/__colors.scss" as *;
@use "../../assets/scss/__layout.scss" as *;

.about {
    display: flex;
    flex-direction: column;
    margin: $margin-fifty auto;
    width: $width-seventy;
    gap: $gap-thirty;

    details {
        summary {
            background-color: $main-color;
            color: $white;
            padding: $padding-fifteen $padding-twenty;
            font-weight: bold;
            cursor: pointer;
            list-style: none;
            position: relative;
            background-image: url('../../assets/angle_up.svg');
            background-repeat: no-repeat;
            background-position: right $background-twenty center;
            background-size: $background-twenty;
            border-radius: $border-five;

        }

        p {
            background-color: $light-grey;
            margin-top: $margin-zero;
            color: $black;
            padding: $padding-fifteen $padding-twenty;
        }

        ul {
            background-color: $light-grey;
            margin: $margin-zero;
            padding: $padding-fifteen $padding-twenty;
            list-style: none;
        }
    }
}


details[open] summary {
    background-image: url('../../assets/angle_down.svg');
}

.accomodation-collapse {
    .about {
        flex-direction: row;
        justify-content: space-around;
        width: $base-width;
        margin: $margin-five auto;
        margin-bottom: -$margin-twenty;
    }

    details {
        flex: $flex-one;
    }
}

@media screen and (max-width: 768px) {
    .accomodation-collapse {
        .about {
            flex-direction: column;
            width: $width-ninety-two;
            margin: $margin-five auto;
            margin-bottom: -$margin-twenty;
        }

        details {
            flex: $flex-one;

            summary {
                padding: $padding-ten $padding-twenty;
            }

            p {
                font-size: $font-twelve;
            }

            ul {
                font-size: $font-twelve;

            }

        }
    }
}