@use "../../assets/scss/__colors.scss" as *;
@use "../../assets/scss/__layout.scss" as *;

.profil {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: $gap-ten;

    .profil-name {
        text-align: right;
        color: $main-color;
    }

    img {
        width: 60px;
        height: $height-sixty;
        border-radius: 50%;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .profil {
        .profil-name {
            font-size: $font-forteen;
        }

        img {
            width: 40px;
            height: $height-forty;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}