@use "../../assets/scss/__colors.scss" as *;

footer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;

    img{
        padding-top: 20px;
        padding-left: 20px;
    }

    p{
        color: $white;
    }

    p span{
        display: inline;
    }
}

@media (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer p span {
        display: block;
    }
  }