@use "../../assets/scss/__colors.scss" as *;
@use "../../assets/scss/__layout.scss" as *;

footer {
    margin-top: $margin-fifty;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;

    img {
        padding-top: $padding-twenty;
        padding-left: $padding-twenty;
    }

    p {
        color: $white;
    }

    p span {
        display: inline;
    }
}

@media (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer p span {
        display: block;
    }
}