@use "../../assets/scss/__colors.scss" as *;
@use "../../assets/scss/__layout.scss" as *;

.banner {
  position: relative;
  border-radius: $border-ten;
  width: $base-width;
  height: $height-one-seven-zero;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);

  img {
    width: $base-width;
    border-radius: $border-ten;
    height: $base-height;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  div {
    color: $white;
    font-size: $font-forty;
    font-weight: bold;
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    height: $height-one-hundred;
    justify-content: flex-start;
    width: $width-ninety-five;
    margin-left: $margin-ten;

    div {
      font-size: $font-twelve-five;
      white-space: pre-line;
      padding: $padding-ten;
    }
  }
}